<div ng-controller="ExampleController">
    
    <!-- Header -->
    <header data-ng-show="!authentication.user">
    </header>

    <section class="success" id="about" data-ng-show="authentication.user">
        <div class="container">
	    	<ul>
				<h1>
					<li><a href="/#!/events">List Todos</a></li>
				</h1>
				
				<h1>
					<li><a href="/#!/events/create">Create Events</a></li>
				</h1>
			</ul>        
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section data-ng-show="!authentication.user">
        <div><h1>{{user.name}}</h1></div>
    </section>
</div>