<div data-ng-controller="EventsController">
    <section class="container">
        <h1>New Event</h1>
        <form class="form-signin" data-ng-submit="create()" novalidate>
            <div>
                <label for="title" class="sr-only">Title</label>
                <div>
                    <input type="text" data-ng-model="title" id="title" placeholder="Title" required autofocus class="form-control">
                </div>
                <label for="date" class="sr-only">Date</label>
                <div>
                   <input type="date" id="date" name="date" data-ng-model="date"
       placeholder="yyyy-MM-dd" required autofocus class="form-control" />
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-lg btn-primary">Create Event</button>
            </div>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </section>
</div>