<div data-ng-controller="EventsController">
    <section data-ng-init="findOne()" class="container">
        <h1>Edit Event</h1>
        <form data-ng-submit="update()" novalidate class="form-signin">
            <div>
                <label for="title" class="sr-only">Title</label>
                <div>
                    <input type="text" data-ng-model="event.title" id="title" placeholder="Title" required autofocus class="form-control">
                </div>
                <label for="date" class="sr-only">Date</label>
                <div>
                   <input type="date" id="date" name="date" data-ng-model="events.date"
       placeholder="yyyy-MM-dd" required autofocus class="form-control" />
                </div>
            </div>

            <div>
                <div>
                    Completed: <input type="checkbox" data-ng-model="event.completed" ng-checked="event.completed" name="completed" id="completed" class="form-control" />
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Update Event</button>
            </div>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </section>
</div>