<div data-ng-controller="EventsController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home#!">myAgenda</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/login">Login</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!authentication.user">
                        <a href="/register">Register</a>
                    </li>

                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/#!/events/create">CREATE</a>
                    </li>
                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/#!/events">Events</a>
                    </li>
                    <li class="page-scroll" data-ng-show="authentication.user">
                        <a href="/logout">Hello <span data-ng-bind="authentication.user.name" data-ng-show="authentication.user"></span>, Logout?</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <section data-ng-init="find()">
        <div class="container">
            <h1>Events</h1>
            Show completed: <input type="checkbox" ng-model="showcompleted" ng-init="showcompleted=true">
            <ul>
                <li data-ng-repeat="event in events" ng-if="showcompleted && event.completed || !event.completed">
                    <a data-ng-href="#!/events/{{event._id}}" data-ng-bind="event.title" ng-class="event.completed?'completed':''"></a>
                    (<small data-ng-bind="event.created | date:'short'"></small>)
                    <br>

                    <p data-ng-bind="event.date" class="date"></p>
                </li>
            </ul>
            <div data-ng-hide="!events || events.length">
                No Events yet, why don't you <a href="/#!/events/create">create one</a>?
            </div>
        </div>
    </section>
</div>