<div data-ng-controller="EventsController">

    <section data-ng-init="find()">
        <div class="container">
            <h1>Events</h1>
            Show completed: <input type="checkbox" ng-model="showcompleted" ng-init="showcompleted=true">
            <ul>
                <li data-ng-repeat="event in events" ng-if="showcompleted && event.completed || !event.completed">
                    <a data-ng-href="#!/events/{{event._id}}" data-ng-bind="event.title" ng-class="event.completed?'completed':''"></a>
                    <p data-ng-bind="event.date" class="date"></p>
                    (<small data-ng-bind="event.created | date:'short'"></small>)
                    <br>
                </li>
            </ul>
            <div data-ng-hide="!events || events.length">
                No Events yet, why don't you <a href="/#!/events/create">create one</a>?
            </div>
        </div>
    </section>
</div>