<div data-ng-controller="EventsController">
    <section data-ng-init="findOne()" class="container">
        <h1 data-ng-bind="event.title" ng-class="event.completed?'completed':''"></h1>
        <p data-ng-bind="event.date"></p>
        <div data-ng-show="authentication.user._id == todo.creator._id">
            <a href="/#!/events/{{event._id}}/edit">edit</a>
            <a href="#" data-ng-click="delete();">delete</a>
        </div>
        <small>
        <em data-ng-bind="event.created | date:'mediumDate'"></em>
        </small>
    </section>
</div>