<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel = "stylesheet" href = "default.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="my-agenda">
	<div id="title">
        <a href="/"><h1><%=title %></h1></a>
    </div>
	<section ng-view></section>

	<!-- Angular scripts -->
	<script type="text/javascript" src="/js/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="/js/bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script>
	<script type="text/javascript" src="/application.js"></script>
	<script type="text/javascript">
	    window.user = <%- user || 'null' %>;
	</script>
	<!-- -->
	<div>
	</div>
	<div class="jumbotron">
		<div class="container">
			<h1>Hello!</h1>
		    <% if ( user ) { %>
			    <h2><%= user%> </h2>
			    <a href="/logout">Logout</a>
			<% } else { %>
			    <button class="btn btn-lg"><a href="/register">Register</a></button>
			    <button class="btn btn-lg"><a href="/login">Login</a></button>
			<% } %>
		</div>
	</div>
</body>
</html>