<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel = "stylesheet" href = "default.css">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-app="my-agenda">
	<div id="title-container">
        <% if (user){	%>
        	<a href="/home#!"><h1 id="title"><%=title %></h1></a>
        	<a href="/logout"><h3 alt="Log Out link" id="logout">Log Out</h3></a>
        <% } else { %>
            <a href="/#!"><h1 id="title"><%=title %></h1></a>
        <% } %>
    </div>
	<section ng-view class="main-section"></section>

	<script type="text/javascript">
		window.user = <%- user || 'null' %>;
	</script>

	<!-- Angular scripts -->
	<script type="text/javascript" src="/js/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="/js/bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/js/angular-resource/angular-resource.min.js"></script>

	<!--Events module -->
	<script type="text/javascript" src="/events/events.client.module.js"></script>
    <script type="text/javascript" src="/events/controllers/events.client.controller.js"></script>
    <script type="text/javascript" src="/events/services/events.client.service.js"></script>
    <script type="text/javascript" src="/events/config/events.client.routes.js"></script>

    <!-- Users module -->
	<script type="text/javascript" src="/users/users.client.module.js"></script>
	<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

	<script type="text/javascript" src="/example/example.client.module.js"></script>
	<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
	<script type="text/javascript" src="/example/config/example.client.routes.js"></script>

	<!-- Main Angular application file -->
	<script type="text/javascript" src="/application.js"></script>
	<!-- -->

	<% if (!user){ %>
	<div class="jumbotron">
		<div class="container">
			<h1>Hello!</h1>
			<br>
		    <button class="btn btn-lg" alt="Register Button"><a href="/register">Register</a></button>
			<button class="btn btn-lg" alt="Log In Button"><a href="/login">Login</a></button>
		</div>
	</div>
	<% } %>
</body>
</html>